####################################
#
# cross compiler selection
# if needed
#
####################################
# CROSS_COMPILE	= arm-linux-
# CROSS_COMPILE	= sh-linux-

###########################################
#
# necessary variable
#
###########################################
SUBDIR		+= src
TARGET		= simple_dtmf
LIBRARY		= -lm
#EXTR		=-static

####################################
#
# verbose make
#
####################################
#VERBOSE	= 1

####################################
#
# debug make
#
####################################
#DEBUG	= 1
